<!DOCTYPE html>
        <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HEJ HELLO</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
<div id="upper"> <img src="../simklubb.png">
</div>
<div id="wrapper">

    {{{body}}}
</div>

</body>




</html>