<!DOCTYPE html>
        <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simbanken</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
<body>
<div id="upper"> <img src="../simklubb.png">
</div>
<div id="wrapper">
{{#if user}}
    <a href="/">
        <img src="/homeicon.png" alt="homeicon" class="homeicon">
    </a>

        <div id="welcomeuser">
            <p>Inloggad som: {{user.username}}</p>
            <form action="/logout" method="post">
                <input type="submit" value="Logga ut" id="LogoutBtn">
            </form>
        </div>
    {{/if}}

    {{{body}}}
    {{>flash}}
</div>
{{>footer}}
</body>

<script src="table_expand.js"></script>

</html>
<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card titta på denna när passen ska läggas in-->