<!DOCTYPE html>
        <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simbanken</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
<body>
<a href="/">
<div id="upper"> <img src="../simklubb.png" ></div>
</a>
<div id="wrapper">
    <div id="meny">
        {{#if user}}
            <a href="/">
                <img src="/homeicon.png" alt="homeicon" class="homeicon">
            </a>
        <a href="/my_profile">
            <img src="/hej.ico" alt="folder" class="my_profile">
        </a>



            <img src="/tillbaka.png" alt="tillbaka" class="tillbaka" onclick="history.go(-1);">
            <div id="welcomeuser">
                <p>Inloggad som: {{user.username}}</p>
                <form action="/logout" method="post">
                    <input type="submit" value="Logga ut" id="LogoutBtn">
                </form>
            </div>
        {{/if}}
    </div>


    {{{body}}}
    {{>flash}}
</div>
{{>footer}}
</body>

<!--<script src="table_expand.js"></script>-->

</html>
<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card titta på denna när passen ska läggas in-->