<!DOCTYPE html>
        <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HEJ HELLO</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
<div id="upper"> <img src="../simklubb.png">
</div>
<div id="wrapper">
{{#if user}}
    <a href="/">
        <img src="homeicon.png" alt="homeicon" class="homeicon">
    </a>

{{/if}}
    {{#if user}}
        <div id="welcomeuser">
            <p>Inloggad som: {{user.username}}</p>
            <form action="/logout" method="post">
                <input type="submit" value="Logga ut" id="LogoutBtn">
            </form>
        </div>
    {{/if}}

    {{{body}}}

</div>
{{>footer}}
</body>
</html>