body{
    background-image: url("../water-1018808.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#upper{
    height: 100px;
}
h1{
   text-align: center;
}
#welcomeuser p{
    margin-left: 5px;
    font-weight: bold;
}
#wrapper{
    background-color: #1991d0;
    margin: auto;
    width: 1000px;
    height: 500px;
    border: solid 2px #85bffc;
}
#start{
    margin: auto;
    background-color: #1991d0;
    width: 500px;
    height: 300px;
}
#LoginBtn{
    width: 120px;
    height: 50px;
    margin-left: calc(50% - 60px);
    margin-top: 50px;
    font-size: large;
    cursor: pointer;
}
#LogoutBtn{
    margin-left: 5px;
    cursor: pointer;
}
#LoginBtn:hover{
    background-color: #85bffc;
}
#SignupBtn{
    width:170px;
    height: 50px;
    margin-left: calc(50% - 85px);
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}
#Btn{
    width: 140px;
    height: 50px;
    margin-left: calc(50% - 70px);
    margin-top: 50px;
    font-size: large;
    cursor: pointer;
}
#SignupBtn:hover{
    background-color: #85bffc;
}
.formCreate p{
    text-align: center;
    font-size: large;
}
#create{
    margin: auto;
    width: 170px;
}
#createUser{
    height: 20px;
}
#createUser:focus{
    background-color: #85bffc;
}
#createPassword{
    height: 20px;
}
#createPassword:focus{
    background-color: #85bffc;
}
#CreateBtn{
    margin-top: 15px;
    cursor: pointer;
}
#login{
    margin: auto;
    width: 170px;
}
#usernameBox{
    height: 20px;
}
#passwordBox{
    height:20px;
}
#usernameBox:focus{
    background-color: #85bffc;
}
#passwordBox:focus{
    background-color: #85bffc;
}
.formLogin p{
    text-align: center;
    font-size: large;
}
#SubmitBtn{
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
footer{
    width: auto;
}
footer p{
    text-align: center;
}
#maps{
    background-color: #1991d0;
    margin: 100px auto;
    width: 700px;
    height: 100px;
    text-align:center;
}
.foldericon{
    height: 120px;
    width: 120px;
    margin-left: 10px;
    position: relative;
}
.homeicon{
    height: 50px;
    width: 50px;
    float: right;
}
.startP{
    text-align: center;
}
#createNew{
    width:150px;
    height: 40px;
    margin: 10px auto;
    font-size: large;
    cursor: pointer;
}
#createNew:hover{
    background-color: #85bffc;
}


table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
th{
    border: 1px solid #1991d0;
    background-color: #85bffc;
}
td{
    border: 1px solid #85bffc;
}
.inputtable{
    width: 100%;
    height: 20px;
    background-color: #85bffc;
}
.inputtableSmall{
    width: 100%;
    height: 20px;
    background-color: #85bffc;
}
input[type="text"], textarea{
    background-color: #85bffc;
}
