body{
    background-image: url("../water-1018808.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#upper{
    height: 100px;
}
h1{
   text-align: center;
}
#wrapper{
    background-color: #1991d0;
    margin: auto;
    width: 1000px;
    height: 500px;
    border: solid 2px #85bffc;
}
#start{
    margin: auto;
    background-color: #1991d0;
    width: 500px;
    height: 350px;
}
#LoginBtn{
    width: 100px;
    height: 50px;
    margin-left: calc(50% - 50px);
    margin-top: 100px;
    font-size: large;
    cursor: pointer;
}
#LoginBtn:hover{
    background-color: #85bffc;
}
#SignupBtn{
    width:150px;
    height: 50px;
    margin-left: calc(50% - 75px);
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}
#SignupBtn:hover{
    background-color: #85bffc;
}
.formCreate p{
    text-align: center;
    font-size: large;
}
#create{
    margin: auto;
    width: 170px;
}
#createUser{
    height: 20px;
}
#createPassword{
    height: 20px;
}
#CreateBtn{
    margin-top: 15px;
}
