
::-webkit-scrollbar {
    width: 0px;
}

body{
    background-image: url("../water-1018808.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden {display:none;}
#upper{
    height: 100px;
}
h1{
   text-align: center;
}
#welcomeuser p{
    margin-left: 5px;
    font-weight: bold;
}
#wrapper{
    background-color: #1991d0;
    margin: auto;
    width: 1000px;
    height: 500px;
    border: solid 2px #85bffc;
    overflow: auto;
}
#start{
    margin: auto;
    background-color: #1991d0;
    width: 500px;
    height: 300px;
    overflow: scroll;
}
#LoginBtn{
    width: 120px;
    height: 50px;
    margin-left: calc(50% - 60px);
    margin-top: 50px;
    font-size: large;
    cursor: pointer;
}
#LogoutBtn{
    margin-left: 5px;
    cursor: pointer;
}
#LoginBtn:hover{
    background-color: #85bffc;
}
#SignupBtn{
    width:170px;
    height: 50px;
    margin-left: calc(50% - 85px);
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}

#SignupBtn:hover{
    background-color: #85bffc;
}
.formCreate p{
    text-align: center;
    font-size: large;
}
#create{
    margin: auto;
    width: 170px;
}
#createUser{
    height: 20px;
}
#createUser:focus{
    background-color: #85bffc;
}
#createPassword{
    height: 20px;
}
#createPassword:focus{
    background-color: #85bffc;
}
#CreateBtn{
    margin-top: 15px;
    cursor: pointer;
}
#login{
    margin: auto;
    width: 170px;
}
#usernameBox{
    height: 20px;
}
#passwordBox{
    height:20px;
}
#usernameBox:focus{
    background-color: #85bffc;
}
#passwordBox:focus{
    background-color: #85bffc;
}
.formLogin p{
    text-align: center;
    font-size: large;
}
#SubmitBtn{
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
footer{
    width: auto;
}
footer p{
    text-align: center;
}
.maps{
    background-color: #1991d0;
    margin: 100px auto;
    width: 800px;
    height: 100px;
    text-align: center;
}
.maps-document {
    width:550px;
}
.maps-protokoll {
    width: 300px;
}
.image{
    position: relative;
    width: 120px;
    float:left;
    height:120px;
    margin-left:1.5%;
}

.image p {
    position: absolute;
    top: 38px;
    width: 100%;
}
a{
    color: #020202;
}
.foldericon{
    height: 120px;
    width: 120px;
    margin: 5px;
}
.homeicon{
    height: 50px;
    width: 50px;
    float: right;
}
.startP{
    text-align: center;
}
#createNew{
    width:150px;
    height: 50px;
    margin-left: calc(50% - 70px);
    font-size: large;
    cursor: pointer;
    margin-top: 15px;
}
#document{
    width:150px;
    height: 50px;
    margin-left: calc(50% - 70px);
    font-size: large;
    cursor: pointer;
    margin-top: 15px;
}
#Btn{
    width: 150px;
    height: 50px;
    margin-left: calc(50% - 70px);
    margin-top: 50px;
    font-size: large;
    cursor: pointer;
}
#createNew:hover{
    background-color: #85bffc;
}
#document:hover{
    background-color: #85bffc;
}
#Btn:hover{
    background-color: #85bffc;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.tableClass {
    display:none;
}
th{
    border: 1px solid #1991d0;
    background-color: #85bffc;
}
td{
    border: 1px solid #85bffc;
}
.inputtable{
    width: 100%;
    height: 20px;
    background-color: #85bffc;
}
.inputtableSmall{
    width: 100%;
    height: 20px;
    background-color: #85bffc;
}
#total{
    width: 300px;
    float: right;
    text-align: right;
}
#save{
    width: 100px;
    height: 40px;
    margin-left: calc(50% - 50px);
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}
#save:hover{
    background-color: #85bffc;
}
.imageDoc{
    position: relative;
    width: 120px;
    float:left;
    height:120px;
    margin-left:10%;
    margin-top: 12%;
}
.imageDoc p {
    position: absolute;
    top: 45px;
    left: calc(50% - 40px);
    width: 100%;
    display: inline;
}
#upload{
    margin-left: 350px;
    margin-top: 400px ;
}
.PassImg{
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
}
.polaroid{
    width: 300px;
    background-color: #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: calc(50% - 150px);
}
.container{
    text-align: center;
    padding: 2px;
}
.divDoc{
    display: inline;
    float: left;
    width: 33.333%;
    text-align: center;
    font-weight: bold;
}

.pdfIcon{
    height: 100px;
}
.foldericon2{
    width: 120px;
    height: 120px;
}
