{{#each pdf}}
    <div class="polaroid">
        <a href="/backstroke/{{this.path}}" target="_blank"><img src="/backstroke.jpg" class="PassImg"></a>
        <div class="container">
            <p>{{this.path}} Skapat av: {{this.owner}}</p>
        </div>
    </div>
{{/each}}
