{{#each pdf}}
    <div class="polaroid">
        <a href="/backstroke/{{this.path}}" target="_blank"><img src="/backstroke.jpg" class="PassImg"></a>
        <div class="container">
            <p>{{this.description.description}}</p>
            <p><strong>Skapat av:</strong>{{this.owner}}</p>
        </div>
    </div>
{{/each}}
