{{#each pdf}}
    <div class="polaroid">
        <a href="/breaststroke/{{this.path}}" target="_blank"><img src="/breaststroke.jpg" class="PassImg"></a>
        <div class="infoDoc">
            <p>{{this.description}}</p>
            <p><strong>Skapat av:</strong> {{this.owner}}</p>
        </div>
    </div>
{{/each}}
