{{#each pdf}}
    <div class="polaroid">
        <a href="/butterfly/{{this.path}}" target="_blank"><img src="/butterfly.jpg" class="PassImg"></a>
        <div class="infoDoc">
            <p>{{this.path}}Skapat av: {{this.owner}}</p>
        </div>
    </div>
{{/each}}