{{#each pdf}}
    <div class="polaroid">
        <a href="/butterfly/{{this.path}}" target="_blank"><img src="/butterfly.jpg" class="PassImg"></a>
        <div class="infoDoc">

            <p> {{this.description.description}}</p>
            <p><strong>Skapat av:</strong> {{this.owner}}</p>
        </div>
    </div>
{{/each}}