{{#each pdf}}
    <div class="polaroid">
        <a href="/crawl/{{this.path}}" target="_blank"><img src="/simning.jpg" class="PassImg"></a>
        <div class="infoDoc">
            <p>{{this.path}} Skapat av: {{this.owner}}</p>
        </div>
    </div>
{{/each}}