<h1>Create a membership</h1>
<form action="/" class="startP">
    <a href="/">Back to the startpage</a>
</form>

<form action="/createMembership" method="post" class="formCreate">
    <p>Please, write a username:</p>
    <input type="text" name="username" id="createUser"><br>
    <p>Please, write a password:</p>
    <input type="password" name="password" id="createPassword"><br>
    <input type="submit" value="Create" id="CreateBtn">
</form>
