<table>
    <tr>
        <th>Övning</th>
        <th>Förklaring</th>
        <th>Distans</th>
        <th>Vila</th>
        <th>Hjälpmedel</th>
        <th>Total distans</th>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
</table>
<input type="submit" value="Lägg till övning">