<h1>Skapa användare</h1>

<form action="/" class="startP">
    <a href="/">Tillbaka till startsidan</a>
</form>

<div id="create">
<form action="/createMembership" method="post" class="formCreate">
    <p>E-post:</p>
    <input type="text" name="username" id="createUser"><br>
    <p>Lösenord:</p>
    <input type="password" name="password" id="createPassword"><br>
    <input type="submit" value="Skapa" id="CreateBtn">
</form>
</div>