<script src="client.js"></script>

<table id="myTable">
    <tr>
        <th>Övning</th>
        <th>Förklaring</th>
        <th>Distans</th>
        <th>Vila</th>
        <th>Hjälpmedel</th>
        <th>Total distans</th>
    </tr>
    <tr>
        <td><input type="text" name="exercise" class="inputtable"></td>
        <td><input type="text" name="description" class="inputtable"></td>
        <td><input type="text" name="distance" class="inputtable"></td>
        <td><input type="text" name="rest" class="inputtableSmall"></td>
        <td><input type="text" name="help" class="inputtable"></td>
        <td><input type="text" name="total" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
        <td><input type="text" class="inputtable"></td>
        <td><input type="text" class="inputtableSmall"></td>
    </tr>
</table>
<input type="submit" value="Lägg till rad" id="newExercise" onclick="addField();">
<input type="submit" value="Ta bort rad" id="newExercise" onclick="removeField();">