<h1>Hej på dig!</h1>

<form action="/" class="startP">
    <a href="/">Tillbaka till startsidan</a>
</form>

<h3>Den här webbsidan är endast till för Nybro simklubbs tränare & styrelse.</h3>
<h4>Är du tränare eller styrelsemedlem men inte har fått ett inlogg?</h4>
<div id="kontakt"><p>Kontakta Frida Melin, frida@nybrosimklubb.se</p></div>

<!--Kommer det till en ny tränare eller nya styrelsemedlemmar kan man ta bort kommentarerna och använda koden då den fungerar som den ska. -->

<!--<div id="create">-->
<!--<form action="/createMembership" method="post" class="formCreate">-->
    <!--<p>E-post:</p>-->
    <!--<input type="text" name="username" id="createUser"><br>-->
    <!--<p>Lösenord:</p>-->
    <!--<input type="password" name="password" id="createPassword"><br>-->
    <!--<input type="submit" value="Skapa" id="CreateBtn">-->
<!--</form>-->
<!--</div>-->