<script src="client.js"></script>

<form action="/create" method="post" class="save">
    <h1>Skapa ett pass</h1>
<table id="myTable">
    <tr>
        <th>Övning</th>
        <th>Förklaring</th>
        <th>Distans</th>
        <th>Vila (sekunder)</th>
        <th>Hjälpmedel</th>
        <th>Total distans(meter)</th>
    </tr>
    <tr>
        <td><input type="text" name="exercise" class="inputtable"></td>
        <td><input type="text" name="description" class="inputtable"></td>
        <td><input type="text" name="distance" class="inputtable"></td>
        <td><input type="text" name="rest" class="inputtableSmall"></td>
        <td><input type="text" name="help" class="inputtable"></td>
        <td><input type="text" name="total" class="inputtableSmall"></td>
    </tr>
    <tr>
        <td><input type="text" name="exercise" class="inputtable"></td>
        <td><input type="text" name="description" class="inputtable"></td>
        <td><input type="text" name="distance" class="inputtable"></td>
        <td><input type="text" name="rest" class="inputtableSmall"></td>
        <td><input type="text" name="help" class="inputtable"></td>
        <td><input type="text" name="total" class="inputtableSmall"></td>
    </tr>
</table>
    <div id="total">
        <select name="stroke">
            <option value="">Välj kategori</option>
            <option value="butterfly">Fjäril</option>
            <option value="backstroke">Ryggsim</option>
            <option value="breaststroke">Bröstsim</option>
            <option value="crawl">Frisim</option>
            <option value="mixed">Blandat</option>
            <option value="technical">Teknik</option>
        </select>

    </div>
        <textarea id="beskrivning_pass" placeholder="Skriv en kort beskrivning av passet ..." name="beskrivning"></textarea>
        <input type="submit" value="Spara" id="save" onclick="NotifyMe();">
    </form>

<input type="submit" value="Lägg till rad" id="newExercise" onclick="addField();">
<input type="submit" value="Ta bort rad" id="newExercise" onclick="removeField();">
