<h2>Vill du verkligen ta bort passet?</h2>

<form action="/delete/{{id}}" method="post">
    <input type="submit" name="name" value="JA!" id="deletePass">
</form>
<form action="/my_profile" >
    <input type="submit" name="name1" value="NEJ!" id="noDelete">
</form>
