<h2>Vill du verkligen ta bort dokumentet?</h2>

<form action="/deleteDoc/{{id}}" method="post">
    <input type="submit" name="name" value="JA!" id="deletePass">
</form>
<form action="/document" >
    <input type="submit" name="name1" value="NEJ!" id="noDelete">
</form>
