<body>

<div class="imageDoc">
    <a href="/kunskapsstege">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Kunskapsstege</p>
    </a>
</div>

<div class="imageDoc">
    <a href="/utbildning">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Utbildningar</p>
    </a>
</div>
<div class="imageDoc">
    <a href="/protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Mötesprotokoll</p>
    </a>
</div>
<div class="imageDoc">
    <a href="/utvardering">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Utvärderingar</p>
    </a>
</div>
</body>