<body>
<h1>Välj kategori</h1>
<div class="maps maps-document">

<div class="image">
    <a href="/kunskapsstege">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Kunskapsstege</p>
    </a>
</div>

<div class="image">
    <a href="/utbildning">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Utbildningar</p>
    </a>
</div>
<div class="image">
    <a href="/map_protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Mötesprotokoll</p>
    </a>
</div>
<div class="image">
    <a href="/dokument">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Dokument</p>
    </a>
</div>
</div>
</body>