<h1>Dokument</h1>
{{#each pdf}}
    <div class="divDoc">
        <a href="/dokument/{{this.path}}" target="_blank"><img src="/test.png" class="pdfIcon"></a>
        <div class="infoDoc">
            <p>{{this.path}}</p>
        </div>
    </div>
{{/each}}
<div class="image">
    <a href="/aktiviteter">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Aktiviteter</p>
    </a>
</div>

<div id="upload">
    <form action="/dokument" method="post" enctype="multipart/form-data" class="down">
        <input type="file" name="pdf" id="chooseBtn">
        <input type="submit" value="Upload PDF">
    </form>
</div>