<h1>Välkommen!</h1>

<div id="start">
    {{#if user}}
        <form action="/strokes">
            <input type="submit" value="Träningspass" id="Btn">
        </form>
    {{else}}
<form action="/login">
    <input type="submit" value="Logga in" id="LoginBtn" />
</form>

<form action="/createMembership">
    <input type="submit" value="Registrera" id="SignupBtn">
</form>
    {{/if}}
</div>