<h1>Welcome</h1>

<div id="start">
<form action="/login">
    <input type="submit" value="Log In" id="LoginBtn" />
</form>

<form action="/createMembership">
    <input type="submit" value="Sign Up" id="SignupBtn">
</form>
</div>