<h1>Kunskapsstege</h1>

{{#each pdf}}
    <div class="divDoc">
        <a href="/kunskapsstege/{{this.path}}" target="_blank"><img src="/test.png" class="pdfIcon"></a>
        <div class="infoDoc">
            <p>{{this.path}}</p>
            <a href="/delete/{{this.id}}">Ta bort</a>
        </div>
    </div>
{{/each}}

<div id="upload">
    <form action="/kunskapsstege" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf" id="chooseBtn" accept="file_extension">
        <input type="submit" value="Ladda upp">
    </form>
</div>