<h1>Logga in</h1>

<form action="/" class="startP">
    <a href="/">Startsida</a>
</form>

<div id="login">
<form action="/login" method="post" class="formLogin">
    <p>E-post:</p>
    <input type="text" name="username" id="usernameBox"><br>
    <p>Lösenord:</p>
   <input type="password" name="password" id="passwordBox"><br>
    <input type="submit" value="Submit" id="SubmitBtn">
</form>
</div>
