<h1>Protokoll</h1>


<div class="maps maps-protokoll" >


<div class="image">
    <a href="/board_protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon2">
        <p>Styrelse</p>
    </a>
</div>

<div class="image">
    <a href="/protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon2">
        <p>Tränare</p>
    </a>
</div>
</div>
