<div class="imageDoc">
    <a href="/board_protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Styrelse</p>
    </a>
</div>

<div class="imageDoc">
    <a href="/protokoll">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
        <p>Tränare</p>
    </a>
</div>