{{#each pdf}}
    <div class="divDoc">
        <a href="/mixed/{{this.path}}" target="_blank"><img src="/mixed.JPG" class="pdfIcon"></a>
        <div class="infoDoc">
            <p>{{this.path}}</p>
        </div>
    </div>
{{/each}}