{{#each pdf}}
    <div class="divDoc">
        <a href="/protokoll/{{this.path}}" target="_blank"><img src="/test.png" class="pdfIcon"></a>
        <div class="infoDoc">
            <p>{{this.path}}</p>
        </div>
    </div>
{{/each}}


<div id="upload">
<form action="/protokoll" method="post" enctype="multipart/form-data">
    <input type="file" name="pdf" id="chooseBtn" accept="file_extension"/>
    <input type="submit" value="Upload"/>
    <select name="who">
        <option value="trainee">Tränare</option>
    </select>
</form>
</div>
