{{#each pdf}}
    <div class="divDoc">
        <a href="/protokoll/{{this.path}}" target="_blank"><img src="/image.png" class="pdfIcon">{{this.path}}</a>
    </div>
{{/each}}


<div id="upload">
<form action="/protokoll" method="post" enctype="multipart/form-data">
    <input type="file" name="pdf" id="chooseBtn" accept="file_extension"/>
    <input type="submit" value="Upload"/>
</form>
</div>
