<h1>Välj simsätt</h1>
<form action="/" class="startP">
    <a href="/">Tillbaka till startsidan</a>
</form>

<body>

<div id="maps">

    <a href="butterfly.hbs">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
    </a>

    <a href="backstroke.hbs">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
    </a>

    <a href="breaststroke.hbs">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
    </a>

    <a href="crawl.hbs">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
    </a>

    <a href="teknik">
        <img src="foldericon.png" alt="foldericon" class="foldericon">
    </a>



</div>
</body>