<h1>Välj simsätt</h1>
<form action="/" class="startP">
    <a href="/">Tillbaka till startsidan</a>
</form>

<body>
<div id="background">


<div id="butterfly"></div>
<div id="backstroke"></div>
<div id="breaststroke"></div>
<div id="crawl"></div>

</div>
</body>