<h1>Välj kategori</h1>
<body>

<div id="maps">

        <div class="image">
            <a href="/butterfly">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Fjäril</p>
            </a>
        </div>

        <div class="image">
            <a href="/backstroke">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Ryggsim</p>
            </a>
        </div>

        <div class="image">
            <a href="/breaststroke">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Bröstsim</p>
            </a>
        </div>

        <div class="image">
            <a href="/crawl">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Crawl</p>
            </a>
        </div>

        <div class="image">
            <a href="/mixed">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Blandat</p>
            </a>
        </div>

        <div class="image">
            <a href="/teknik">
            <img src="foldericon.png" alt="foldericon" class="foldericon">
            <p>Teknik</p>
            </a>
        </div>
</div>
</body>